<!DOCTYPE html>
<html lang="pt-br" ng-app="MultilingualApp">
<head>
    <meta charset="UTF-8">
    <title>Marta Preuss - front-end developer - Florianópolis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="resources/css/styles.css">
</head>
<body ng-controller="LangController as lc">
   
   
    <!--  FIXED HEADER SECTION AND MENU -->
    <header class="main-nav">
       <div class="container">
            <h1><a rel="relativeanchor" href="#main">{{ lc.lang.mainNav.logo }}</a></h1>
            <nav class="siteMenu">
                <ul>
                    <li><a rel="relativeanchor" href="#about">{{ lc.lang.mainNav.about }}</a></li>
                    <li><a rel="relativeanchor" href="#work">{{ lc.lang.mainNav.work }}</a></li>
                    <li><a rel="relativeanchor" href="#resumee">{{ lc.lang.mainNav.resumee }}</a></li>
                    <li><a rel="relativeanchor" href="#contact">{{ lc.lang.mainNav.contact }}</a></li>
                </ul>
            </nav>
            
            <nav class="langs">
               <ul>
                   <li><a href="" class="br" ng-class="{active:lc.lang.locale == 'pt'}" ng-click="lc.setLang('PT')">PT</a></li>
                   <li><a href="" class="us" ng-class="{active:lc.lang.locale == 'en'}" ng-click="lc.setLang('EN')">EN</a></li>
               </ul>
           </nav>
        </div>
    </header>
    
    <!--  MAIN/WELCOME SECTION  -->
    <section id="main">
        <article class="container">
            <div class="center-content">
                <h1><span>Marta</span></h1>
                <h1>Preuss</h1>

                <h2>{{ lc.lang.welcome.firstLine }}</h2>

                <p><a rel="relativeanchor" href="#about">{{ lc.lang.welcome.knowMore }}</a></p>
            </div>
        </article>
    </section>
    
    <!--  ABOUT SECTION  -->
    <section id="about">
       <header>
           <div class="container">
               <h2> {{lc.lang.about.title }}</h2>
               <p> {{lc.lang.about.subtitle }}</p>
           </div>
       </header>
        <article class="container">
            <ul class="highlights">
                <li>
                    <div class="ico"><i class="fa fa-sitemap"></i></div>
                    <h3>{{lc.lang.about.highlight1Title }}</h3>
                    <p>{{lc.lang.about.highlights1Desc }}</p>
                </li>
                <li>
                    <div class="ico"><i class="fa fa-code"></i></div>
                    <h3>{{lc.lang.about.highlight2Title }}</h3>
                    <p>{{lc.lang.about.highlights2Desc }}</p>
                </li>
                <li>
                    <div class="ico"><i class="fa fa-i-cursor"></i></div>
                    <h3>{{lc.lang.about.highlight3Title }}</h3>
                    <p> {{lc.lang.about.highlights3Desc }}</p>
                </li>
            </ul>
        </article>
    </section>
    
    <!--  WORK SECTION  -->
    <section id="work">
       <header>
            <div class="container">
                <h2>{{ lc.lang.work.title }}</h2>
                <p>{{ lc.lang.work.subtitle }}</p>
            </div>
        </header>
        <article class="container">
        
            <ul class="portfolio">
                <li><a href="http://marta.preuss.nom.br/portfolio/estadao/"><img src="http://marta.preuss.nom.br/wp-content/uploads/2015/02/estadao-768x366.png" alt=""></a>
                    <h3>Estadão</h3>
                    <p>Front-end.</p>
                </li>
                <li><a href="http://marta.preuss.nom.br/portfolio/qedu-org-br/" target=_blank><img src="http://marta.preuss.nom.br/wp-content/uploads/2015/03/QEdu-Use-dados.-Transforme-a-educa%C3%A7%C3%A3o.-768x378.png" alt=""></a>
                    <h3>QEdu</h3>
                    <p>Front-end.</p>
                </li>
                            
                
                <li><a href="http://marta.preuss.nom.br/portfolio/lecticia/" target=_blank><img src="http://marta.preuss.nom.br/wp-content/uploads/2015/07/lecticia-768x489.png" alt=""></a>
                    <h3>Lecticia</h3>
                    <p>Design, front-end, WordPress</p>
                </li>
                <li><a href="http://marta.preuss.nom.br/portfolio/cego-em-tiroteio/" target=_blank><img src="http://marta.preuss.nom.br/wp-content/uploads/2015/02/Cego-em-Tiroteio-768x366.png" alt=""></a>
                    <h3>Cego em Tiroteio</h3>
                    <p>Design, front-end, WordPress</p>
                </li>
                <li><a href="http://marta.preuss.nom.br/portfolio/qedu-org-br/" target=_blank><img src="http://marta.preuss.nom.br/wp-content/uploads/2015/02/Blog-QEdu-768x366.png" alt=""></a>
                    <h3>Blog QEdu</h3>
                    <p>WordPress</p>
                </li>
                <li><a target=_blank href="http://marta.preuss.nom.br/portfolio/pagina-de-campanhas-do-enem/"><img src="http://marta.preuss.nom.br/wp-content/uploads/2015/07/enem-768x465.png" alt=""></a>
                    <h3>Campanhas +Enem</h3>
                    <p>Wireframe, front-end, plugin WP</p>
                </li>
            </ul>
        </article>
    </section>
    
    <!--  RESUMEE SECTION  -->
    <section id="resumee">
       <header>
            <div class="container">
                <h2>{{ lc.lang.resumee.title }}</h2>
                <p>{{ lc.lang.resumee.subtitle }}</p>
            </div>
        </header>
        <article class="container">
            <ul class="highlights">
                <li>
                    <div class="ico"><a href="{{ lc.lang.resumee.url }}" target="_blank"><i class="fa fa-file-pdf-o"></i></a></div>
                    <h3><a href="{{ lc.lang.resumee.url }}" target="_blank">{{ lc.lang.resumee.resumeeTitle }}</a></h3>
                    <p>{{ lc.lang.resumee.resumeeDescription }}</p>
                </li>
                <li>
                    <div class="ico"><a href="http://behance.net/mapreuss" target="_blank"><i class="fa fa-behance"></i></a></div>
                    <h3><a href="http://behance.net/mapreuss" target="_blank">Behance</a></h3>
                    <p>{{ lc.lang.resumee.behance }}</p>
                </li>
                <li>
                    <div class="ico"><a href="http://marta.preuss.nom.br/portfolio" target="_blank"><i class="fa fa-external-link"></i></a></div>
                    <h3><a href="http://marta.preuss.nom.br/portfolio" target="_blank">Portfolio</a></h3>
                    <p>{{ lc.lang.resumee.portfolio }}</p>
                </li>
            </ul>
            
            <p>Note também que <strong>esta landing page</strong> foi feita por mim. Você pode ver o código fonte para saber como eu escrevo meu HTML, ver o <a href="https://bitbucket.org/mapreuss/hire-me" target="_blank">repositório no bitbucket</a> para ver como trabalho com git e observar meus arquivos less e js. Não esqueça de testar em diversas resoluções de tela!</p>
            <p>O PSD é <a href="https://creativemarket.com/TheGravity/20548-Supernova-PSD-Template" target="_blank">daqui</a> (tentei fazer o meu mas casa de ferreiro...) e, para desenvolver, usei o Brackets no Ubuntu (usando o Guake no lugar do Terminal) com <a href="https://github.com/jdiehl/brackets-less-autocompile" target="_blank">compilador automático de Less</a> e <a href="http://emmet.io/" target="_blank">Emmet</a>. Calculei o tempo de desenvolvimento e contei <strong>5 horas</strong>. Para publicar, usei meu host com <a href="http://blog.marta.preuss.nom.br/deploy-com-git-usando-ftp/" target="_blank">git ftp</a>.</p>
        </article>
    </section>
    
    <!--  CONTACT SECTION  -->
    <section id="contact">
        <article class="container">
            <h3>{{ lc.lang.contact.title }}</h3>
            <p>{{ lc.lang.contact.text }}</p>
        </article>
    </section>
    
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/smooth-scroll.js"></script>
    </body>
</html>