//out: ../../resources/css/styles.css, compress: true, autoprefixer: true
@import "variables.less";
@column-width: 60;
@gutter-width: 20;
@columns: 12;

html, body{
    height: 100%;
}
.container{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
section{
    padding-top: 100px;
    height: auto;
    .clearfix;
    min-height: 100%;
}

.langs{
    position: absolute;
    right: -8px;
    top: 10px;
    z-index: 12;
    ul{
        margin: 4px 23px 0;
        float: right;
    }
    li{
        display: inline-block;
    }
    a{
        color: #FFF;
        display: block;
        text-decoration: none;
        font: 12px 'Open Sans', sans-serif;
        opacity: 0.5;
        display: block;
        width: 16px;
        height: 11px;
        text-indent: -999px;
        overflow: hidden;
        &.br{
            background: url('../../resources/img/br.png') 0 0 no-repeat;
        }
        &.us{
            background: url('../../resources/img/us.png') 0 0 no-repeat;
        }
        &.active{
            opacity: 1;
        }
    }
}

//*** MAIN NAV ***//
.main-nav{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    h1{
        float: left;
        a{
            color: #ffffff;
            font: 300 24px / 36px 'Open Sans', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 90px;
        }
    }
    nav.siteMenu{
        float: right;
        li{
            display: inline-block;
            a{
                display: inline-block;
                color: rgba(255, 255, 255, 0.6);
                font: 700 11px "Open Sans", sans-serif;
                text-transform: uppercase;
                line-height: 100px;
                height: 97px;
                padding: 0 14px;
                position: relative;
                transition: background, 0.5s;
                &:hover, &.active{
                    color:#ffffff;
                    background: rgba(0, 0, 0, 0.4);
                    border-bottom: 3px solid #dd3f19;
                    &:after{
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 4px 3.5px 0 3.5px;
                        border-color: #dd4019 transparent transparent transparent;
                        left: 50%;
                        bottom: -7px;
                    }
                }
            }
        }
    }
}

//*** WELCOME SECTION ***//
section#main{
    background: url(../img/bg-outerspace.jpg) no-repeat #054F6C;
    background-size: 100%;
    height: 100%;
    article{
        text-align: center;
        height: 100%;
        &:before{
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
        }
        .center-content{
          display: inline-block;
          vertical-align: middle;
            margin-top: -150px;
        }    
        h1{ 
           color: #ffffff;
           font: 300 100px/73px 'Open Sans', sans-serif;
           letter-spacing: 10px;
           text-transform: uppercase;
            text-shadow: 4px 0px 6px #054f6c;
           span{
               font-size: 48px;
           }
        }
        h2{
           color: rgba(255, 255, 255, 0.6);
           font: 300 24px / 36px 'Open Sans', sans-serif;
           padding: 50px 220px;
        }
        p{
            text-align: center;
            a{
                color: #fff;
                font: 300 20px / 36px 'Open Sans', sans-serif;
                display: inline-block;
                position: relative;
                &:after{
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 4px 3.5px 0 3.5px;
                    border-color: #fff transparent transparent transparent;
                    left: 50%;
                    bottom: -7px;
                }
            }
        } 
    }   
}

//*** ABOUT SECTION ***/
section#about{
    padding-top: 0;
    header{
        background: url(../img/bg-blue.png) no-repeat 0 0;
        background-size: 100%;
        padding: 100px 0;
        text-align: center;
        margin-bottom: -120px;
        h2{
            color: #ffffff;
            font: 300 48.75px 'Open Sans', sans-serif;
            margin-bottom: 61px;
        }    
        p{
            color: rgba(255, 255, 255, 0.6);
            font: 300 30px / 40px 'Open Sans', sans-serif;
        }
    }
    
    p{
        color: #666666;
        font: 400 15px / 23px 'Open Sans', sans-serif;
        & + p{
            margin-top: 20px;
        }
    }
}

.highlights {
    border-bottom: 1px solid #ccc;
    padding: 60px 0;
    margin-bottom: 60px;
    width: 100%;
    overflow: hidden;
    li{
        .column(4);
        text-align: center;
        .ico{
            width: 110px;
            height: 110px;
            border-radius: 3px;
            background:gray;
            margin: 0 auto;
            line-height: 110px;
            color: #FFF;
            font-size: 30px;
            a{
                color: #FFF;
            }
        }
        h3{
            color: #333333;
            font: 300 25px 'Open Sans', sans-serif;
            margin: 20px 0;
            a{
                color: #333333;
            }
        }
        p{
            color: #666666;
            font: 400 12px / 20px 'Open Sans', sans-serif;
        }
    }
}

//*** WORK SECTION ***//
section#work{
    padding-top: 0;
    header{
        background: url(../img/bg-purple.png) no-repeat 0 0;
        background-size: 100%;
         padding: 100px 0;
        text-align: center;
        h2{
            color: #ffffff;
            font: 300 48.75px 'Open Sans', sans-serif;
            margin-bottom: 61px;
        }    
        p{
            color: rgba(255, 255, 255, 0.6);
            font: 300 30px / 40px 'Open Sans', sans-serif;
        }
    }
    .portfolio{
        li{
            text-align: center;
            .column(6);
            margin-bottom: 25px;
            a{
                max-height: 235px;
                overflow: hidden;
                display: inline-block;
                  -webkit-filter: grayscale(100%);
                transition: all 0.5s;
                &:hover{
                      -webkit-filter: grayscale(0);
                }
            }
            img{
                padding: 20px 0 0;
                position: relative;
                max-width: 100%;
            }
              h3{
                color: #333333;
                font: 300 25px 'Open Sans', sans-serif;
                margin: 10px 0;
            }
            p{
                font: 400 12px / 20px 'Open Sans', sans-serif;
            }
        }
    }
}

//** RESUMEE **//
section#resumee{
    padding-top: 0;
    padding-bottom: 50px;
    header{
        background: url(../../resources/img/bg-gray.png) no-repeat 0 0;
        background-size: 100%;
        padding: 100px 0;
        text-align: center;
        margin-bottom: -120px;
        h2{
            color: #ffffff;
            font: 300 48.75px 'Open Sans', sans-serif;
            margin-bottom: 61px;
        }    
        p{
            color: rgba(255, 255, 255, 0.6);
            font: 300 30px / 40px 'Open Sans', sans-serif;
        }
    }
    p{
        color: #666666;
        font: 400 15px / 23px 'Open Sans', sans-serif;
        & + p{
            margin-top: 20px;
        }
        strong{
            font-weight: 700;
        }
        a{
            color: #dd3f19;
        }
    }
    
}

//*** CONTACT ***//
section#contact{
    background: url(../../resources/img/bg-redgreen.png) no-repeat 0 0;
    background-size: auto 100%;
    text-align: center;
    padding-top: 150px;
    height: 321px;
    min-height: 0;
    margin-top: 50px;
    h3{
        color: #ffffff;
            font: 300 38.75px 'Open Sans', sans-serif;
            margin-bottom: 61px;
        text-transform: uppercase;
    }
    p{
        color: rgba(255, 255, 255, 0.5);
        font: 400 16px / 20px 'Open Sans', sans-serif;
        a{
            color: #dd3f19;
        }
    }
}

//*** RESPONSIVE ***//
@-ms-viewport{
    width: device-width;
}
@media screen and (max-width: 960px) {
    @total-width: 100%;
    .container{
        width: 100%;
    }
    
    // Header
    .main-nav{
        padding: 0 20px;
        box-sizing: border-box;
    }
    section#about header {
      h2{
            font-size: 38px;
            margin-bottom: 30px;
        }  
        p{
            font-size: 20px;
        }
    } 
    
    // About
    section#about header{
        padding: 100px 30px;
    }
    .highlights li{
        width: 100%;
        margin-bottom: 20px;
    }
    
    // Work
    section#work {
        header{
            padding: 100px 30px;
            h2{
                font-size: 38px;
                margin-bottom: 30px;
            }
        }
        .portfolio li{
            width: 100%;
            margin: 10px 0;
        }
    }
    
    // Resumee
    section#resumee {
        header{
            padding: 100px 30px;
            h2{
                font-size: 38px;
                margin-bottom: 30px;
            }
        }
        p{
            padding: 0 20px;
        }
    }
    
}

@media screen and (min-width: 320px) and (max-width: 959px){
    // Nav
    .main-nav{
        width: 100%;
        height: 50px;
        h1{
            text-align: center;
            float: none;
            a{
                line-height: 50px;
            }
        }
        nav{
            display: none;
        }
    }
    // Welcome
    section#main{
        background-size: auto 100%;
        article{
            &:before{
                display: none;
            }
             .center-content{
                    vertical-align: top;
                    margin-top: 0;
                     h1{
                            font-size: 3em;
                            
                    }
                
                }
             h2{
                 padding:20px 10px;
             }
                
        }
    }
    // About
    section#about {
        header{
            padding: 100px 20px;
            background-size: auto 100%;
        }
    }
    .highlights li{
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }
    
    // Work
    section#work {
        header{
            padding: 100px 20px;
            background-size: auto 100%;
        }
    }
    
    // Resumee
    section#resumee {
        header{
            padding: 100px 20px;
            background-size: 100% 100%;
        }
    }
}